* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(240,225,74, 0.8855742125951943) 0%,
      rgba(151,206,76, 1) 100%,
      rgba(3, 153, 216, 1) 100%
    );
}

// .container-index{
//   align-items: center;
//   border-radius: 10px;
//   box-sizing: border-box;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   // flex-direction: column;
//   margin: 10px;
//   padding: 30px;
// }

.home{
  display: grid;
  padding: 9rem 0 2rem;
  height: 100vh;
}

.home__container {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}